.createButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  font-weight: 700;

  background-color: var(--blue-dark);
  color: var(--gray-100);

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.createButton:hover {
  background-color: var(--blue);
}