.container {
  display: flex;
  width: 100%;
}

.input {
  background-color: var(--gray-500);
  color: var(--gray-100);

  width: 100%;
  padding: 1rem;

  border: 1px solid transparent;
  border-radius: 8px
}

.input:focus {
  border: 1px solid var(--purple-dark);
  outline: 0
}

.input::placeholder {
  color: var(--gray-300)
}